<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Liste des villes</title>
	</head>

	<body>
		<nav class="navbar">
			<div>
				<img src="/img/logo.png" alt="logo">
			</div>
			<form action="/searchCity" method="GET" class="search">
				<input type="text" id="search" name="search" placeholder="Rechercher une ville" required>
				<button>
					<span class="material-icons">search</span>
					<p>Rechercher</p>
				</button>
			</form>
            <a href="/" class="nav-element">Villes</a>
			
		</nav>

		{% block body %}{% endblock %}

		<script src="/js/script.js"></script>

	</body>

</html>
